In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split

from sklearn.tree import DecisionTreeClassifier, plot_tree, export_text
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

from env import host, user, password
import acquire
import prepare

# Acquire Data and Prepare Data

In [2]:
telco_df=acquire.get_telco_data_wdate()

In [3]:
telco_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               7043 non-null   object
 1   gender                    7043 non-null   object
 2   senior_citizen            7043 non-null   int64
 3   partner                   7043 non-null   object
 4   dependents                7043 non-null   object
 5   tenure                    7043 non-null   int64
 6   phone_service             7043 non-null   object
 7   multiple_lines            7043 non-null   object
 8   internet_service_type_id  7043 non-null   int64
 9   online_security           7043 non-null   object
 10  online_backup             7043 non-null   object
 11  device_protection         7043 non-null   object
 12  tech_support              7043 non-null   object
 13  streaming_tv              7043 non-null   object
 14  streaming_movies          7043 non-null   object
 15  contract_type_id          7043 non-null   int64
 16  paperless_billing         7043 non-null   object
 17  payment_type_id           7043 non-null   int64
 18  monthly_charges           7043 non-null   float64
 19  total_charges             7043 non-null   object
 20  churn                     7043 non-null   object
 21  signup_date               7043 non-null   object
dtypes: float64(1), int64(5), object(16)
memory usage: 1.2+ MB

In [4]:
telco_df.describe(include='object').T

                  count unique                  top  freq
customer_id        7043   7043           0002-ORFBO     1
gender             7043      2                 Male  3555
partner            7043      2                   No  3641
dependents         7043      2                   No  4933
phone_service      7043      2                  Yes  6361
multiple_lines     7043      3                   No  3390
online_security    7043      3                   No  3498
online_backup      7043      3                   No  3088
device_protection  7043      3                   No  3095
tech_support       7043      3                   No  3473
streaming_tv       7043      3                   No  2810
streaming_movies   7043      3                   No  2785
paperless_billing  7043      2                  Yes  4171
total_charges      7043   6531                         11
churn              7043      2                   No  5174
signup_date        7043     73  2021-12-21 18:07:34   613

In [5]:
telco_df.churn

0        No
1        No
2       Yes
3       Yes
4       Yes
       ...
7038     No
7039    Yes
7040     No
7041     No
7042     No
Name: churn, Length: 7043, dtype: object

In [6]:
def initial_data_wdate(data):
    telco_df=acquire.get_telco_data_wdate()
    print('this data frame has',telco_df.shape[0],'rows and', telco_df.shape[1],'columns')
    print('                        ')
    print(telco_df.info())
    print('                        ')
    print(telco_df.describe())
    print('                        ')
    print(telco_df.describe(include='object').T)
    print('                        ')
    print(telco_df.columns)
    print('ended of initial report')
    print('                        ')

In [7]:
initial_data_wdate(telco_df)

this data frame has 7043 rows and 22 columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               7043 non-null   object
 1   gender                    7043 non-null   object
 2   senior_citizen            7043 non-null   int64
 3   partner                   7043 non-null   object
 4   dependents                7043 non-null   object
 5   tenure                    7043 non-null   int64
 6   phone_service             7043 non-null   object
 7   multiple_lines            7043 non-null   object
 8   internet_service_type_id  7043 non-null   int64
 9   online_security           7043 non-null   object
 10  online_backup             7043 non-null   object
 11  device_protection         7043 non-null   object
 12  tech_support              7043 non-null   object
 13  streaming_tv              7043 non-null   object
 14  streaming_movies          7043 non-null   object
 15  contract_type_id          7043 non-null   int64
 16  paperless_billing         7043 non-null   object
 17  payment_type_id           7043 non-null   int64
 18  monthly_charges           7043 non-null   float64
 19  total_charges             7043 non-null   object
 20  churn                     7043 non-null   object
 21  signup_date               7043 non-null   object
dtypes: float64(1), int64(5), object(16)
memory usage: 1.2+ MB
None

       senior_citizen       tenure  internet_service_type_id  \
count     7043.000000  7043.000000               7043.000000
mean         0.162147    32.371149                  1.872923
std          0.368612    24.559481                  0.737796
min          0.000000     0.000000                  1.000000
25%          0.000000     9.000000                  1.000000
50%          0.000000    29.000000                  2.000000
75%          0.000000    55.000000                  2.000000
max          1.000000    72.000000                  3.000000

       contract_type_id  payment_type_id  monthly_charges
count       7043.000000      7043.000000      7043.000000
mean           1.690473         2.315633        64.761692
std            0.833755         1.148907        30.090047
min            1.000000         1.000000        18.250000
25%            1.000000         1.000000        35.500000
50%            1.000000         2.000000        70.350000
75%            2.000000         3.000000        89.850000
max            3.000000         4.000000       118.750000

                  count unique                  top  freq
customer_id        7043   7043           0002-ORFBO     1
gender             7043      2                 Male  3555
partner            7043      2                   No  3641
dependents         7043      2                   No  4933
phone_service      7043      2                  Yes  6361
multiple_lines     7043      3                   No  3390
online_security    7043      3                   No  3498
online_backup      7043      3                   No  3088
device_protection  7043      3                   No  3095
tech_support       7043      3                   No  3473
streaming_tv       7043      3                   No  2810
streaming_movies   7043      3                   No  2785
paperless_billing  7043      2                  Yes  4171
total_charges      7043   6531                         11
churn              7043      2                   No  5174
signup_date        7043     73  2021-12-21 18:07:34   613

Index(['customer_id', 'gender', 'senior_citizen', 'partner', 'dependents',
       'tenure', 'phone_service', 'multiple_lines', 'internet_service_type_id',
       'online_security', 'online_backup', 'device_protection', 'tech_support',
       'streaming_tv', 'streaming_movies', 'contract_type_id',
       'paperless_billing', 'payment_type_id', 'monthly_charges',
       'total_charges', 'churn', 'signup_date'],
      dtype='object')
ended of initial report

In [8]:
telco_train,telco_validate,telco_test=prepare.split_telco(telco_df)
telco_train

,customer_id,senior_citizen,tenure,monthly_charges,total_charges,contract_type,phone_service.1,multiple_lines.1,internet_service_type_id.1,online_security.1,...,tech_support_Yes,streaming_tv_No internet service,streaming_tv_Yes,streaming_movies_No internet service,streaming_movies_Yes,paperless_billing_Yes,churn_Yes,internet_service_type_Fiber optic,internet_service_type_None,gender_Male
440,0643-OKLRP,1,47,80.35,3825.85,Month-to-month,Yes,Yes,2,Yes,...,0,0,0,0,0,0,1,1,0,0
67,0112-QWPNC,0,49,84.35,4059.35,One year,Yes,Yes,1,Yes,...,1,0,1,0,1,0,1,0,0,1
600,0877-SDMBN,0,54,103.95,5639.05,One year,Yes,Yes,2,Yes,...,0,0,1,0,1,1,1,1,0,0
4883,5799-JRCZO,0,63,19.50,1215.10,Two year,Yes,No,3,No internet service,...,0,1,0,1,0,0,0,0,1,0
1258,6837-BJYDQ,0,3,19.60,61.35,One year,Yes,No,3,No internet service,...,0,1,0,1,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1794,6296-DDOOR,0,19,58.20,1045.25,One year,Yes,No,1,No,...,0,0,1,0,0,0,0,0,0,0
817,7629-WFGLW,1,56,95.65,5471.75,One year,Yes,Yes,2,Yes,...,1,0,0,0,0,0,0,1,0,0
901,7929-DMBCV,0,20,81.00,1683.70,Month-to-month,Yes,No,2,No,...,1,0,0,0,0,1,0,1,0,0
1987,9917-KWRBE,0,41,78.35,3211.20,One year,Yes,Yes,1,Yes,...,0,0,1,0,0,1,0,0,0,0
6958,1839-UMACK,0,42,25.05,949.85,One year,Yes,Yes,3,No internet service,...,0,1,0,1,0,0,0,0,1,1

# Explore Data

In [9]:
telco_train['month']=(telco_train.total_charges/telco_train.monthly_charges)
telco_validate['month']=(telco_train.total_charges/telco_train.monthly_charges)
telco_test['month']=(telco_train.total_charges/telco_train.monthly_charges)

In [10]:
ndate=telco_train[telco_train.signup_date>='2021-09-21 18:07:34']

In [11]:
ndate[ndate.month==1].signup_date

3781    2021-12-21 18:07:34
2639    2021-12-21 18:07:34
4703    2021-12-21 18:07:34
3845    2021-12-21 18:07:34
1070    2021-12-21 18:07:34
               ...
1501    2021-12-21 18:07:34
6394    2021-12-21 18:07:34
5756    2021-12-21 18:07:34
3221    2021-12-21 18:07:34
7038    2021-12-21 18:07:34
Name: signup_date, Length: 369, dtype: object

In [12]:
369/1869

0.19743178170144463

In [13]:
telco_train['signup_month']=pd.DatetimeIndex(telco_train['signup_date']).month

In [14]:
telco_train['signup_month'].value_counts()

12    598
1     448
11    352
10    348
9     337
2     336
8     322
7     307
3     306
5     294
6     289
4     288
Name: signup_month, dtype: int64

In [15]:
def signup_date(df):
    df['signup_month']=pd.DatetimeIndex(telco_train['signup_date']).month
    return df

In [16]:
def compareid(df):
    return df.customer_id==telco_train.customer_id